<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{16,0},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>join_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{267,0},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{518,0},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{753,96},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1004,96},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{769,0},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1020,0},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1271,0},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1522,0},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1773,0},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,96},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,96},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{502,96},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1255,96},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1506,192},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1757,192},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1506,96},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1757,96},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,192},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,192},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{502,192},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{753,192},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1004,192},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{1255,192},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn_stroke.png</string>
            <key>size</key>
            <string>{2024,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d86b97228b2c10f57a80544b5d09552:cdc659566194c3b270d472a532784851:fad76ed53c61921c527728ae9535dd9c$</string>
            <key>textureFileName</key>
            <string>btn_stroke.png</string>
        </dict>
    </dict>
</plist>
